h1 {
    color: aliceblue;
    font-size: 70px;

}

body {
    margin: 0;
    padding: 0;
}

.main-body {
    margin: 4rem 7rem;
}

p {
    font-size: 15px;
    color: rgba(255, 228, 196, 0.688);
}

.flexeble-area {
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: center;
    padding-top: 1%;
    border-radius: 30px;
}

.half-width {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 1000;
    border-radius: 5px;

}

.link-button:hover {
    box-shadow: inset 300px 0 0 0 rgba(255, 255, 0, 0.801);
}

.section-grid {

    margin-top: 30px;
}

.second-section {
    background-color: black;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    float: left;
}

.right-section {
    float: right;

    width: 80%;
}

.toogle {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    background-color: white;
    padding: 15px;
    margin: 10px 20px;
    border-radius: 5px;

}

.card-div {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 0px 0px 0px 31px;
    margin-bottom: 20px;
    display: block;
    width: 29%;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}

li {
    list-style: none;
    display: inline;
    color: white;
    margin: 0px 20px;
}

.google-font {
    font-family: 'Poppins', sans-serif;
}